<h1>New assignment</h1>

<%= render "form", assignment: @assignment %>

<br>

<div>
  <button class="btn btn-outline-primary" type="button">
    <%= link_to "Back to assignments", assignments_path %>
  </button>
</div>
