<!-- Back to top button -->
<button type="button" class="btn card btn-outline-secondary btn-floating btn-lg" id="btn-back-to-top">
  <i class="fas fa-arrow-up"></i>
</button>

<!-- Explanation -->
<div class="container mt-4 text-center" style="height: 200px">
  <!--<p>
    Start scrolling the page and a red
    <strong>"Back to top" button </strong> will appear in the
    <strong>bottom right corner</strong> of the screen.
  </p>

  <p>Click this button and you will be taken to the top of the page.</p>-->
</div>