<h1>Editing rating</h1>

<%= render "form", rating: @rating %>

<br>

<div class="btn-group">
  <button class="btn btn-outline-primary" type="button">
    <%= link_to "Show this rating", @rating %>
  </button>

  <button class="btn btn-outline-primary" type="button">
    <%= link_to "Back to ratings", ratings_path %>
  </button>
</div>