<h1>Ratings</h1>

<div class="mt-3" id="ratings">
  <% @ratings.each do |rating| %>
    <div class="">
      <%= render rating %>
    </div>
    <br>
  <% end %>
</div>

<!--<div>
  <button class="btn btn-outline-success" type="button">
    <%= link_to "New rating", new_rating_path %>
  </button> -->
</div>
