<h1>New rating for Submission <%= flash[:submis_ref]%></h1>

<%= render "form", rating: @rating %>
  <form action="/addEval" method="post">


<br>

<div>
  <button class="btn btn-outline-primary" type="button">
    <%= link_to "Back to ratings", ratings_path %>
  </button>
</div>
